.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 4%;
  align-items: center;
  padding-bottom: 2%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 5%;
  width: 5%;
  margin-right: 1%;
}

.menu-items {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 10px;
}

.menu-items li:last-child {
  margin-right: 0;
}

.menu-items li:last-child .menu-link {
  white-space: nowrap;
}

.menu-items a {
  color: #1390ff;
  text-decoration: none;
  font-size: 18px;
}

.menu-items a.active {
  font-weight: 600;
  text-decoration: underline;
}

.profile {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #0290ff;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  padding: 10px;
}

.menu-items li:nth-child(4) a {
  color: gray;
}
