.joined-missions-list {
  padding: 0;
  width: 40%;
  border-radius: 5px;
  border: 1px solid #0290ff;
}

.joined-missions-list li {
  padding: 1%;
  margin: 1px;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 5px;
  list-style-type: none;
  border: 1px solid #0290ff;
}
